/* Variables used throughout will go here. */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif; }

/**************************** */
#main-nav {
  height: 40px; }

.nav-container {
  display: flex;
  padding: 16px; }

.nav-header {
  margin-left: auto; }

h1 {
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 1px; }

.nav-right {
  margin-left: auto; }

.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none; }

.bar1 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 5px 0; }

.bar2 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 5px 0; }

.bar3 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 5px 0; }

/* ------------------------------ */
/**************************** */
/* CSS code for the Contact section. */
/* CSS code for the Footer section. */
