/****************************
Body Section
****************************/

.mobile-nav-background-color {
    height: 100%;
    overflow: hidden;
    background-color: $color-primary-4;
}

.container {
    width: 100%;
}

.titles {
    margin-left: 5%;
    margin-bottom: 1%;
    letter-spacing: 1px;
    text-transform: uppercase;
}