/* Variables used throughout will go here. */

$color-primary-0: #09345A;	// Main Primary color */
$color-primary-1: #30577B;
$color-primary-2: #1A456B;
$color-primary-3: #032646;
$color-primary-4: #01192F;

$color-secondary-1-0: #8B6B04;	// Main Secondary color (1) */
$color-secondary-1-1: #BEA041;
$color-secondary-1-2: #A5851E;
$color-secondary-1-3: #6C5200;
$color-secondary-1-4: #493700;

$color-secondary-2-0: #8B2E04;	// Main Secondary color (2) */
$color-secondary-2-1: #BE6841;
$color-secondary-2-2: #A5481E;
$color-secondary-2-3: #6C2200;
$color-secondary-2-4: #491700;